Source: libhibr
Section: libs
Priority: extra
Maintainer: Joachim Metz <joachim.metz@gmail.com>
Build-Depends: debhelper (>= 7), autotools-dev, libfuse-dev
Standards-Version: 3.9.5
Homepage: https://github.com/libyal/libhibr/

Package: libhibr
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: libhibr-dbg
Description: Library to access the Windows Hibernation File (hiberfil.sys) format
 libhibr is a library to access the Windows Hibernation File (hiberfil.sys) format.

Package: libhibr-dbg
Architecture: any
Section: debug
Depends: libhibr (= ${binary:Version}), ${misc:Depends}
Description: Debugging symbols for libhibr
 Debugging symbols for libhibr.

Package: libhibr-dev
Section: libdevel
Architecture: any
Depends: libhibr (= ${binary:Version}), ${misc:Depends}
Description: Header files and libraries for developing applications for libhibr
 Header files and libraries for developing applications for libhibr.

Package: libhibr-tools
Section: utils
Architecture: any
Depends: libhibr (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Description: Several tools for reading Windows Hibernation Files (hiberfil.sys)
 Several tools for reading Windows Hibernation Files (hiberfil.sys).

